
#body-main-section_product_overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}
#body-main-section_product_overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.body-main-section-h1_title {
    color: #2ddf5c;
    text-align: center;
}
.body-main-section-div_plan_list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.body-main-section-div-article_plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.body-main-section-div-article-h1_plan_title {
    color: #0e4f1f;
}
.body-main-section-div-article-h2_plan_price {
    color: #858585;
}
.body-main-section-div-article_plan_highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.body-main-section-div-article-ul_plan_features {
    list-style: none;
    margin: 0;
    padding: 0;
}
.body-main-section-div-article-ul-li_plan_feature {
    margin: 8px 0;
}
.body-main-section-div-article-h1_plan_annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.body-main-section-div-article_plan_highlighted .body-main-section-div-article-h1_plan_title {
    color: white;
}
.body-main-section-div-article_plan_highlighted .body-main-section-div-article-h2_plan_price {
    color: #0e4f1f;
}

#body-main-section_key_features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}
#body-main-section_key_features .body-main-section-h1_title {
    color: white;
    margin: 32px;
}
.body-main-section-ul_key_feature_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.body-main-section-ul-li_key_feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.body-main-section-ul-div_key_feature_image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}
.body-main-section-ul-p_key_feature_description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}


